[MASTER]
ignore-paths=scratch/.*,\.venv/.*
extension-pkg-allow-list=PySide6

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-many-return-statements,
    too-many-ancestors,
    duplicate-code,
    too-many-arguments,
    too-many-positional-arguments,
    too-many-locals,
    too-many-branches,
    too-many-statements,
    too-many-lines,
    too-many-instance-attributes,
    no-name-in-module,
    too-few-public-methods,
    no-member

[FORMAT]
max-line-length=100
